.hero_banner{
    margin:0;
    display: inline-block;
    width: 100%;
    border-color: grey;
    border-width: 50px;
}

#gallery{
   
    background-color: grey;
    padding: 150px;
    margin: 0 auto;
    text-align: center;
    border-color: grey;
    border-width: 1px;

    
}

.desk, .graphic, .photo{
    display: inline-block;
    box-sizing: border-box;
    border: solid 40px #434343;
    margin:0 150px auto;
    width: 23%;
    border-radius: 50%;

}